<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.ipms.mapper.MeetingFeatureMapper">
    
    <resultMap type="MeetingFeature" id="MeetingFeatureResult">
        <result property="id"    column="id"    />
        <result property="featureName"    column="feature_name"    />
        <result property="featureAlias"    column="feature_alias"    />
        <result property="sortOrder"    column="sort_order"    />
        <result property="color"    column="color"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectMeetingFeatureVo">
        select id, feature_name, feature_alias, sort_order, color, create_time, update_time from meeting_feature
    </sql>

    <select id="selectMeetingFeatureList" parameterType="MeetingFeature" resultMap="MeetingFeatureResult">
        <include refid="selectMeetingFeatureVo"/>
        <where>  
        </where>
    </select>
    
    <select id="selectMeetingFeatureById" parameterType="Long" resultMap="MeetingFeatureResult">
        <include refid="selectMeetingFeatureVo"/>
        where id = #{id}
    </select>

    <insert id="insertMeetingFeature" parameterType="MeetingFeature" useGeneratedKeys="true" keyProperty="id">
        insert into meeting_feature
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="featureName != null">feature_name,</if>
            <if test="featureAlias != null">feature_alias,</if>
            <if test="sortOrder != null">sort_order,</if>
            <if test="color != null">color,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="featureName != null">#{featureName},</if>
            <if test="featureAlias != null">#{featureAlias},</if>
            <if test="sortOrder != null">#{sortOrder},</if>
            <if test="color != null">#{color},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateMeetingFeature" parameterType="MeetingFeature">
        update meeting_feature
        <trim prefix="SET" suffixOverrides=",">
            <if test="featureName != null">feature_name = #{featureName},</if>
            <if test="featureAlias != null">feature_alias = #{featureAlias},</if>
            <if test="sortOrder != null">sort_order = #{sortOrder},</if>
            <if test="color != null">color = #{color},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMeetingFeatureById" parameterType="Long">
        delete from meeting_feature where id = #{id}
    </delete>

    <delete id="deleteMeetingFeatureByIds" parameterType="String">
        delete from meeting_feature where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>