<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.ipms.mapper.MeetingAgendaMapper">
    
    <resultMap type="MeetingAgenda" id="MeetingAgendaResult">
        <result property="id"    column="id"    />
        <result property="textJson"    column="text_json"    />
    </resultMap>

    <sql id="selectMeetingAgendaVo">
        select id, text_json from meeting_agenda
    </sql>

    <select id="selectMeetingAgendaList" parameterType="MeetingAgenda" resultMap="MeetingAgendaResult">
        <include refid="selectMeetingAgendaVo"/>
        <where>  
            <if test="textJson != null  and textJson != ''"> and text_json = #{textJson}</if>
        </where>
    </select>
    
    <select id="selectMeetingAgendaById" parameterType="Long" resultMap="MeetingAgendaResult">
        <include refid="selectMeetingAgendaVo"/>
        where id = #{id}
    </select>

    <insert id="insertMeetingAgenda" parameterType="MeetingAgenda" useGeneratedKeys="true" keyProperty="id">
        insert into meeting_agenda
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="textJson != null">text_json,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="textJson != null">#{textJson},</if>
         </trim>
    </insert>

    <update id="updateMeetingAgenda" parameterType="MeetingAgenda">
        update meeting_agenda
        <trim prefix="SET" suffixOverrides=",">
            <if test="textJson != null">text_json = #{textJson},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMeetingAgendaById" parameterType="Long">
        delete from meeting_agenda where id = #{id}
    </delete>

    <delete id="deleteMeetingAgendaByIds" parameterType="String">
        delete from meeting_agenda where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>