<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.MeetingMapper">
    
    <resultMap type="Meeting" id="MeetingResult">
        <result property="id"    column="id"    />
        <result property="scope"    column="scope"    />
        <result property="meetingName"    column="meeting_name"    />
        <result property="subtitle"    column="subtitle"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="roomId"    column="room_id"    />
        <result property="hostId"    column="host_id"    />
        <result property="assistantId"    column="assistant_id"    />
        <result property="typeId"    column="type_id"    />
        <result property="featureSelect"    column="feature_select"    />
        <result property="logo"    column="logo"    />
        <result property="seatChart"    column="seat_chart"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectMeetingVo">
        select id, scope, meeting_name, subtitle, start_time, end_time, room_id, host_id, assistant_id, type_id, feature_select, logo, seat_chart, create_time, update_time from meeting
    </sql>

    <select id="selectMeetingList" parameterType="Meeting" resultMap="MeetingResult">
        <include refid="selectMeetingVo"/>
        <where>  
            <if test="meetingName != null  and meetingName != ''"> and meeting_name like concat('%', #{meetingName}, '%')</if>
        </where>
    </select>
    
    <select id="selectMeetingById" parameterType="Long" resultMap="MeetingResult">
        <include refid="selectMeetingVo"/>
        where id = #{id}
    </select>

    <insert id="insertMeeting" parameterType="Meeting" useGeneratedKeys="true" keyProperty="id">
        insert into meeting
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="scope != null and scope != ''">scope,</if>
            <if test="meetingName != null and meetingName != ''">meeting_name,</if>
            <if test="subtitle != null">subtitle,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="roomId != null">room_id,</if>
            <if test="hostId != null">host_id,</if>
            <if test="assistantId != null">assistant_id,</if>
            <if test="typeId != null">type_id,</if>
            <if test="featureSelect != null">feature_select,</if>
            <if test="logo != null">logo,</if>
            <if test="seatChart != null">seat_chart,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="scope != null and scope != ''">#{scope},</if>
            <if test="meetingName != null and meetingName != ''">#{meetingName},</if>
            <if test="subtitle != null">#{subtitle},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="roomId != null">#{roomId},</if>
            <if test="hostId != null">#{hostId},</if>
            <if test="assistantId != null">#{assistantId},</if>
            <if test="typeId != null">#{typeId},</if>
            <if test="featureSelect != null">#{featureSelect},</if>
            <if test="logo != null">#{logo},</if>
            <if test="seatChart != null">#{seatChart},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateMeeting" parameterType="Meeting">
        update meeting
        <trim prefix="SET" suffixOverrides=",">
            <if test="scope != null and scope != ''">scope = #{scope},</if>
            <if test="meetingName != null and meetingName != ''">meeting_name = #{meetingName},</if>
            <if test="subtitle != null">subtitle = #{subtitle},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="roomId != null">room_id = #{roomId},</if>
            <if test="hostId != null">host_id = #{hostId},</if>
            <if test="assistantId != null">assistant_id = #{assistantId},</if>
            <if test="typeId != null">type_id = #{typeId},</if>
            <if test="featureSelect != null">feature_select = #{featureSelect},</if>
            <if test="logo != null">logo = #{logo},</if>
            <if test="seatChart != null">seat_chart = #{seatChart},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMeetingById" parameterType="Long">
        delete from meeting where id = #{id}
    </delete>

    <delete id="deleteMeetingByIds" parameterType="String">
        delete from meeting where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>