<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.ipms.mapper.VoteMapper">
    
    <resultMap type="Vote" id="VoteResult">
        <result property="id"    column="id"    />
        <result property="voteTitle"    column="vote_title"    />
        <result property="agendaId"    column="agenda_id"    />
        <result property="voteRes"    column="vote_res"    />
        <result property="voteMode"    column="vote_mode"    />
        <result property="showSwitch"    column="show_switch"    />
        <result property="anonymousSwitch"    column="anonymous_switch"    />
        <result property="remark"    column="remark"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectVoteVo">
        select id, vote_title, agenda_id, vote_res, vote_mode, show_switch, anonymous_switch, remark, create_time, update_time from vote
    </sql>

    <select id="selectVoteList" parameterType="Vote" resultMap="VoteResult">
        <include refid="selectVoteVo"/>
        <where>  
            <if test="voteTitle != null  and voteTitle != ''"> and vote_title = #{voteTitle}</if>
            <if test="voteRes != null"> and vote_res = #{voteRes}</if>
        </where>
    </select>
    
    <select id="selectVoteById" parameterType="Long" resultMap="VoteResult">
        <include refid="selectVoteVo"/>
        where id = #{id}
    </select>

    <select id="selectVoteByIds" parameterType="java.util.List" resultMap="VoteResult">
        <include refid="selectVoteVo"/>
        <where>
            <if test="ids != null and ids.size() > 0">
                and id in
                <foreach item="id" collection="ids" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>

    <insert id="insertVote" parameterType="Vote" useGeneratedKeys="true" keyProperty="id">
        insert into vote
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="voteTitle != null">vote_title,</if>
            <if test="agendaId != null">agenda_id,</if>
            <if test="voteRes != null">vote_res,</if>
            <if test="voteMode != null and voteMode != ''">vote_mode,</if>
            <if test="showSwitch != null">show_switch,</if>
            <if test="anonymousSwitch != null">anonymous_switch,</if>
            <if test="remark != null">remark,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="voteTitle != null">#{voteTitle},</if>
            <if test="agendaId != null">#{agendaId},</if>
            <if test="voteRes != null">#{voteRes},</if>
            <if test="voteMode != null and voteMode != ''">#{voteMode},</if>
            <if test="showSwitch != null">#{showSwitch},</if>
            <if test="anonymousSwitch != null">#{anonymousSwitch},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateVote" parameterType="Vote">
        update vote
        <trim prefix="SET" suffixOverrides=",">
            <if test="voteTitle != null">vote_title = #{voteTitle},</if>
            <if test="agendaId != null">agenda_id = #{agendaId},</if>
            <if test="voteRes != null">vote_res = #{voteRes},</if>
            <if test="voteMode != null and voteMode != ''">vote_mode = #{voteMode},</if>
            <if test="showSwitch != null">show_switch = #{showSwitch},</if>
            <if test="anonymousSwitch != null">anonymous_switch = #{anonymousSwitch},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteVoteById" parameterType="Long">
        delete from vote where id = #{id}
    </delete>

    <delete id="deleteVoteByIds" parameterType="String">
        delete from vote where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
